.top{
    width: 100%;
    min-height: 90vh;
    background-image: url('https://images.unsplash.com/photo-1462396881884-de2c07cb95ed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title{
    font-size: 30px;
    text-align: center;
    color: #f8bf06;
    font-family: 'Arial Narrow Bold', sans-serif;
}
.header-title h1{
    font-size: 5rem;
}

.row div{
    padding: 10px;
    /* margin: 15px; */
    border-radius: 10px;
}

.row i{
    font-size: 30px;
    color: #f8bf06;
}